########################################
###          DEFAULT SETTINGS        ###
########################################

# Any of those settings can be changed
# by the user. To overwrite a setting, 
# create a settings.toml or load the 
# settings from .env file or vars.
# As an example, to disable the 
# iamlistening object:
# settings.toml
# [default]
# iamlistening_enabled = false

[default]
# settings load verification
VALUE = "On Default"

# Module Enable/Disable
iamlistening_enabled = true

# chat_platform is used to launch 
# the specific handler
# for the chat platform. Value can be
# telegram, discord, matrix, etc.

# [default.platform]
# platform = ""
# bot_token = ""
# bot_channel_id = ""
# bot_api_id = ""
# bot_api_hash = ""
# bot_hostname = ""
# bot_user = ""
# bot_pass = ""
# bot_auth_token = ""
# iteration_enabled = false
# iteration_limit = -1

[default.platform.template]
platform = ""
enabled=true
bot_token = ""
bot_channel_id = ""
bot_api_id = ""
bot_api_hash = ""
bot_hostname = ""
bot_user = ""
bot_pass = ""
bot_auth_token = ""
iteration_enabled = false
iteration_limit = -1

# [default.platform.backup]
# platform = ""
# enabled=true
# bot_token = ""
# bot_channel_id = ""
# bot_api_id = ""
# bot_api_hash = ""
# bot_hostname = ""
# bot_user = ""
# bot_pass = ""
# bot_auth_token = ""
# iteration_enabled = false
# iteration_limit = -1

# Iteration settings used for testing
# if you need the bot to run 
# for a long time
# set iteration_enabled to false
# if you need the bot to run 
# for a short time
# set iteration_enabled to true
# iteration_limit is the number 
# of iterations
# the bot will run for 
# iteration_enabled = true
# iteration_limit = 1


########################################
###     END OF DEFAULT SETTINGS      ###
########################################
