/* From https://github.com/twbs/bootstrap/issues/1768 
#073BD9
#05C7F2
#05F2F2
#F2DA63
#F2E6A7


*/
:root {
    --body-bg: #303C6C;
    --body-color: #E2E8E4;
    --body-link-color: #ffcc00;
    --card-bg: #212529;
   
   }
   a {
    color: #ffcc00;
  }
  a:hover {
    color: #05C7F2 !important;
  }
details {
     background: #292929;
     margin-bottom: 2rem;
     padding: .5rem 1rem;
   }

.navbar {
background-color: #292929;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffcc00 !important;
  }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #00a379 !important;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
table tbody tr:nth-child(even) {
  background-color: #181818;
}
table tbody tr:nth-child(odd) {
  background-color: #1D1D1D;
}
table.clearTable {
  margin-top: 5px;
  margin-bottom: 5px;
}
table.clearTable td {
  padding: 3px 3px 3px 15px;
}
table.clearTable th {
  text-align: center;
}
table.clearTable, table.clearTable tbody, table.clearTable tr, table.clearTable td, table.clearTable th {
  background-color: rgba(0, 0, 0, 0.0) !important;
}
table.dualTable td, table.dualTable th {
  padding-left: 15px !important;
}
.images-index-table {
    padding: 0;
}
.images-index-table li {
    display: inline-block;
}
.images-inline-link {
    padding: 8px 10px;
    display: inline-block;
    background-color: #181818;
    border-radius: 10px;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 20px;
}
.images-inline-link code {
    font-size: 60%;
}
.image-accordion {
    border-radius: 15px;
    background-color: #1D1D1D;
    color: #0ce3ac;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin: 5px 0 0 0;
}
.image-active {
    border-radius: 15px 15px 0 0 !important;
    background-color: #181818;
}
.image-accordion:hover {
    background-color: #181818;
}
.image-panel {
  background-color: #181818;
  max-height: 0;
  overflow: auto hidden;
  border-radius: 0 0 15px 15px;
  transition: max-height 0.2s ease-out;
  padding-left: 10px;
  padding-right: 10px;
}
.image-accordion:after {
  content: '\25BC';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.image-active:after {
  content: "\25B2";
}
table.image-table {
  /* margin: 0 auto; */
  border-collapse: separate;
}
table.image-table div {
    margin: 0 10px 0 0;
    border-radius: 15px;
    padding: 10px 10px 0 10px;
    text-align: center;
    background-color: #1D1D1D;
    line-height: 15px;
}
table.image-table td:last-child div {
    margin: 0;
}
table.image-table, table.image-table tbody, table.image-table tr, table.image-table th {
  background-color: rgba(0, 0, 0, 0.0) !important;
}
table.image-table img {
  border-radius: 15px;
  margin: 0 0 15px 0;
}
details {
  margin-bottom: 5px;
  border-color: #7c4dff;
}
summary {
  padding: 6px 12px 6px 22px;
  background: #363352;
  position: relative;
  cursor: pointer;
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
details summary::-webkit-details-marker {
  display:none;
}

td br {
  margin-bottom: 15px;
}
td p {
  margin-bottom: 0 !important;
}
p {
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  -webkit-hyphens: none !important;
  hyphens: none !important;
  }

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

table {
    /*Uncomment to center tables horizontally*/
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    /*table-layout: fixed;*/
}

thead {
    border-bottom: 1px solid;
    vertical-align: bottom;
}

tr, th, td {
    text-align: left;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background: rgb(50, 50, 50);
}

tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}

/* This prevents default style limit max width*/
div.body {
    min-width: 450px;
    max-width: 1200px !important;
}

ul {
    padding-left: 20px !important;
}

ul.dropdown-menu {
    padding-left: 0px !important;
}

blockquote p {
    font-size: 14px !important;
}

blockquote {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin: 0 0 0px !important;
}

pre {
    background-color: rgb(180, 180, 180) !important;
    width: 90% !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

dt:target, span.highlighted {
    background-color: rgb(100, 100, 100);
}

code {
    background-color: rgb(200, 200, 200) !important;
}
