:root {
  --body-bg: #303C6C;
  --body-color: #E2E8E4;
  --body-link-color: #FFCCBB;
  --card-bg: #212529;
 
 }
 details {
   background: #292929;
   margin-bottom: 2rem;
   padding: .5rem 1rem;
 }
 
 summary {
   cursor: pointer;
 }
 
 summary > * {
   display: inline;
 }
 
 #header {
      position: static;
 }
 