/* From https://github.com/twbs/bootstrap/issues/1768 
#073BD9
#05C7F2
#05F2F2
#F2DA63
#F2E6A7

*/

:root {
--body-bg: #212529;
--body-color: #E2E8E4;
--body-link-color: #ffcc00;
--card-bg: #212529;

}

body {
font-size: 18px;
color: #E2E8E4;
background-color: #212529;
}

a {
color: #ffcc00;
}

a:hover {
color: #05C7F2;
}

.navbar{
  background-color: #292929;
  color: #E2E8E4;
}


